<%- include("./partials/head") -%>

<ul class="recipes">
    <li class="recipe">
        <img src="smoothie.png" alt="test">
        <h4>Banana Boost</h4>
        <p>Banana , Vanilla ice cream , Milk</p>
    </li>
    <li class="recipe">
        <img src="smoothie.png" alt="test">
        <h4>Banana Boost</h4>
        <p>Banana , Vanilla ice cream , Milk</p>
    </li>
    <li class="recipe">
        <img src="smoothie.png" alt="test">
        <h4>Banana Boost</h4>
        <p>Banana , Vanilla ice cream , Milk</p>
    </li>
    <li class="recipe">
        <img src="smoothie.png" alt="test">
        <h4>Banana Boost</h4>
        <p>Banana , Vanilla ice cream , Milk</p>
    </li>
    <li class="recipe">
        <img src="smoothie.png" alt="test">
        <h4>Banana Boost</h4>
        <p>Banana , Vanilla ice cream , Milk</p>
    </li>
    <li class="recipe">
        <img src="smoothie.png" alt="test">
        <h4>Banana Boost</h4>
        <p>Banana , Vanilla ice cream , Milk</p>
    </li>
</ul>

<%- include("./partials/footer") -%>